
.search.container{
    padding: 10px;
}
.search.row{
    padding-top: 10px;
}
#search_res{
    margin:15px;
    margin-top: 10px;
    float:right;
}
#export {
    margin-top: 10px;
    float:right;
}

.custom-col {
    position: relative;
    right: 21px;
}
.delete { margin-left: 15px!important;background-color: rgba(255, 0, 0, 0.58)
;border-color:  rgba(255, 0, 0, 0.58)}
.delete:hover { background-color: red;border-color: red!important;}

/*flashmodal*/
.flash-modal {
    position: fixed;
    top: 75px;
    right: -250px;
    z-index: 1000;
    max-width: 25%;
    background-color: #ff6f36;
    border-radius: 4px !important;
}

.flash-modal p {
    padding: 10px 10px;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
}

/*media pages*/
    .m-toolbar {
        background-color: #d7d7d7;
        padding: 15px ;
    }

    /*file upload button*/
    #med_pic {
        display: none;position: absolute;
    }
    label[for="med_pic"],.toolbar_m {
        z-index: 5;border: 1px solid #b1b2b4;position: relative;text-align: center;padding: 20px 10px 15px 10px;border-radius: 5px!important;width: 100%;
    }
    label[for="med_pic"]:hover,.toolbar_m:hover{ cursor: pointer}
    label[for="med_pic"] i,.toolbar_m i {font-size: 32px}

    /*label[for="med_pic"] i {animation: mymove 3s infinite;}*/
    /*@keyframes mymove {*/
    /*    0% {color: black;}*/
    /*    100% {color: #17ff29*/
    /*    }*/
    /*}*/
    .img_bl ,.folder_bl,.f_data{padding: 10px;display: flex;justify-content: flex-start;flex-wrap: wrap}
    .img_box,.f_box{
        width: 14%;
        padding: 10px;
        min-height: 170px;
        position: relative;
    }
    .img_box .blah { width: 100%;height: 150px;object-fit: cover;}
    .tox-notifications-container {display: none !important;}
    .media_content .rem{
        position: absolute;
        right: 1px;
        top: 1px;
        font-size: 17px;
        display: flex;
        width: 25px;
        height: 25px;
        border-radius: 50% !important;
        background: white;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        cursor: pointer;
        opacity: 0;
        z-index: -1;
    }


    .img_box:hover > .rem {
        z-index: 0;
        opacity: 1;
        transition: 0.5s;
    }

    .img_box .fa-close {
        margin-top: -3px;
    }
    .img_box a {display: block;background-color: darkgrey;color: #fff;border-bottom-right-radius: 5px!important;border-bottom-left-radius: 5px!important;
    text-align: center;text-decoration: none}
    .img_box a:hover{ background-color: #0a6aa1}
    .img_box .vert {margin: 0;float: left;background-color:darkgrey;color: #fff;width: 100% ;border-top-right-radius: 5px!important;
        border-top-left-radius: 5px!important;text-align: center;margin-bottom: 1px}
    .folder_box {width: 100%;display: flex;justify-content: center;align-items: center;border: 1px solid #d7d7d7;height:150px;z-index: 50}
    .folder_box .fa-folder {font-size: 50px;}
    .folder_box .fa-folder  {font-size: 50px;}
    .folder_box span {display: block;margin-left: 10px}
    .rem_fol {
        position: absolute;
        bottom: 11px;
        text-align: center;
        width: 91%;
        background-color: #c26060;
        padding: 10px 0;
        color: #fff;
        display: none;
        text-transform: uppercase;
        font-size: 12px;
    }
    .folder_box .count{position: absolute;
        top: 15px;right: 20px}

    .rem_fol:hover{cursor: pointer}

[type='color'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    width: 15px;
    height: 15px;
    border: none;
}

[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

[type='color']::-webkit-color-swatch {
    border: none;
}

.color-picker,.color-picker-back {
    padding: 10px 15px;
    border-radius: 5px!important;
    border: 1px solid #ccc;
    background-color: #f8f9f9;
    position: relative;
    display: block;
    float: left;
}
.color-picker label,.color-picker-back label  {margin-bottom: 0;float: left;line-height: 0}
.picker_bl {
    float: left;width:8%;display: flex;align-items: center;margin-top: 30px}
.input-images {float: left;
    margin-right: 25px}