
.search.container{
    padding: 10px;
}
.search.row{
    padding-top: 10px;
}
#search_res{
    margin:15px;
    margin-top: 10px;
    float:right;
}
#export {
    margin-top: 10px;
    float:right;
}

.custom-col {
    position: relative;
    right: 21px;
}
.delete { margin-left: 15px!important;background-color: rgba(255, 0, 0, 0.58)
;border-color:  rgba(255, 0, 0, 0.58)}
.delete:hover { background-color: red;border-color: red!important;}
