@font-face { font-family: GHEAGrpalatReg;  src: url(../fonts/GHEAGrpalatReg.otf); }
@font-face { font-family: GHEAGrpalatBld;  src: url(../fonts/GHEAGpalatBld.otf); }

html { overflow-y: scroll; height: 100%;}

body { font-family: arial, helvetica, sans-serif, tahoma, verdana; margin: 0;  padding: 0;  background-color:#fff; }

*{-webkit-box-sizing:border-box;   -moz-box-sizing:border-box;   box-sizing:border-box}

a:link, a:visited { color: #3366ff; transition: all 500ms; }
a:hover { text-decoration: none; color: #ff6600;}

.line1 {  margin: 0 auto; width: 100%; padding-left:24px; padding-right:24px; border-bottom: 1px solid #e5e7ea; float: left; }
.line2 {  margin: 0 auto; min-width: 200px; max-width: 1352px;  }

.shapka1 {  background: url(../img/bg.jpg); border-bottom: 0; }

.shapka3 { border-bottom: 2px solid #7c8ead;  }

.bggrey {  background-color: #fafbfd; }

.search { position: relative; float: right;  border-right:1px solid #8d99ac;  border-left:1px solid #8d99ac; background-color: #fff; margin-top: -50px; z-index: 100;  height: 50px; }
.search-bar button {  border: 0; }
.search-bar { display: flex; }
.search-bar input, .search-btn { width: 30px; height: 40px;  }
.search-bar input:invalid:not(:focus), .search-btn { cursor: pointer; }
.search-bar, .search-bar input:focus, .search-bar input:valid  { width: 100%; }
.search-bar input:focus, .search-bar input:not(:focus) + .search-btn:focus { outline: transparent; }
.search-bar { justify-content: flex-end; max-width: 300px; }
.search-bar input { 	padding-right: 33px;  background: url(../img/search.png) no-repeat 12px 16px;  margin-right: -24px; box-shadow: 0 0 0 0;  padding-top: 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; font: 1em Hind, sans-serif; border: 0;  }
.search-bar input::-webkit-search-decoration { -webkit-appearance: none; }
.search-bar input:focus, .search-bar input:valid { background: #fff; border: 0; border-bottom: 1px solid #22559a; margin-left: 14px; margin-right: 0px; height:36px; margin-top:3px; transition: 0.4s ease-out; } 
.search-btn { background: url(../img/search.png) no-repeat 0px -20px; transform: scale(0);  }
.search-btn:before, .search-btn:after { content: ""; display: block; opacity: 0; position: absolute; }
.search-bar input:focus + .search-btn, .search-bar input:valid + .search-btn {  transform: scale(1); }


.pdf a, .exl a, .doc a { padding: 16px; padding-left: 46px; margin-bottom: 14px; border: 1px solid #ccc; border-radius: 4px; display: block; }
.pdf a { background: url(../img/pdf.png) no-repeat 10px 50% #fafbfd;  }
.exl a { background: url(../img/exl.png) no-repeat 10px 50% #fafbfd; }
.doc a { background: url(../img/word.png) no-repeat 10px 50% #fafbfd; }
.pdf a:link, .pdf a:visited, .exl a:link, .exl a:visited, .doc a:link, .doc a:visited  { color: #616b75; text-decoration: none; }
.pdf a:hover, .exl a:hover, .doc a:hover { color: #fff; text-decoration: none; background-color: #486995; }

.pdfz { text-transform:uppercase; letter-spacing: 2px; }
.pdfz1 { text-transform:uppercase; letter-spacing: 0.5px; }

.podval1 {  background-color: #637081; border-bottom: 0; flex: 0 0 auto; }
.podval2 {  background-color: #526173; border-bottom: 0;flex: 0 0 auto; }

.copy { font-size:13px; color:#e8eaed;  font-weight:normal; text-align: center;  }
.copy img { vertical-align: middle; margin-top:8px; margin-bottom:10px; }

.social { display:table-cell; text-align:center;  font-size:14px; color:#fff;  width:32%; padding-top: 14px; }
.social img  { width:34px; height:34px; margin:3px; vertical-align:middle; border-radius: 4px; margin-top: 10px; }

.adres {  display:table-cell; vertical-align:top;   font-size:13px; color:#e8eaed; width:34%; padding-top: 14px; padding-bottom: 5px; }
.adres .location { background: url(../img/location.png) no-repeat 0px 0px; padding-left: 30px; padding-top: 4px; height: 24px;  margin: 0; display: inline-block; }
.adres .phone { background: url(../img/phone2.png) no-repeat 0px 0px; padding-left: 30px; padding-top: 4px; height: 24px;  margin-top: 5px; display: inline-block; }
.adres .mail { background: url(../img/mail.png) no-repeat 0px 2px; padding-left: 30px; padding-top: 0px; height: 20px;  margin-top: -4px; display: inline-block; }
.adres a:link { color:#e8eaed; text-decoration: none; }
.adres a:hover { color:#96ccff; text-decoration: underline; }

.cell1, .cell2, .cell3 { display:table-cell; vertical-align:top;  }
.cell1 img { margin-top:10px; margin-bottom:10px; margin-left: 20px; }
.cell2 {  text-align:center; padding:0; width: 80%;   }
.cell3 {  text-align: right; padding:0; padding-right: 20px; padding-top: 12px;   }

nav { display:  inline;   }
.menu { display: table; margin:0;  padding:0; width: 100%; padding-right: 40px; }
.menu li { display: inline-block;  text-align:left; position: relative; z-index:100; border-left: 1px solid #8d99ac; display: table-cell; text-align: center; }
.menu li:last-child { margin-left:0; border-right: 1px solid #8d99ac; }
.menu li a {  width: 100%;height: 50px; font-size:16px; font-weight:bold; color:#22559a; font-family: GHEAGrpalatReg, arial, helvetica, sans-serif, tahoma, verdana; text-decoration:none; padding:13px 20px 11px 20px; display: inline-block; -webkit-transition: all 0.2s ease-in-out 0s; -moz-transition: all 0.2s ease-in-out 0s; -o-transition: all 0.2s ease-in-out 0s; -ms-transition: all 0.2s ease-in-out 0s; transition: all 0.2s ease-in-out 0s; }
.menu li a:hover, .menu li:hover > a { background:#486995; color:#fff;   }
.menu li > .active:link, ul.menu > li > .active:visited { color:#fff; background:#ffa82b; width: 100%;}
.menu ul { display: none; margin: 0; padding: 0; width: 240px; position: absolute; top: 50px;  list-style: none; padding-top:2px;  }
.menu ul li:last-child {  border-bottom:1px solid #ccc;}
.menu ul li { display:block; border:1px solid #ccc; border-top:none; float: none; margin:0; padding:0;   text-align: left; background: #f9fafd; }
.menu ul li a { font-size:15px; display:block; color:#22559a; height:auto;}
.menu ul li a:hover, .menu ul li:hover > a { background:#486995; color:#fff; }
.menu li:hover > ul { display: block; }
.menu ul ul { left: 238px; top: -1px; padding-top:0;  }
.menu ul li ul li:first-child { border-top:1px solid #ccc;  }
.menu ul li:last-child { border-right:1px solid #ccc; }
.mobile-menu { display:none; width:100%; padding:11px; padding-left:0; padding-right:0; color:#ffffff; text-transform:uppercase; font-size:15px;  font-weight:600; text-decoration: none; margin-top: 3px; }
.mobile-menu:link, .mobile-menu:visited { color: #ffd8a5; }
.mobile-menu:hover  { color:#ffffff; text-decoration:none; }
.mobile-menu .icon-reorder { display:inline-block; width:20px; height:18px; margin-right:10px; background: url(../img/icon-menu.png) no-repeat 0 1px; }


.menu .stn { background: url(../img/stn.png) no-repeat 220px 18px #f9fafd; }
.menu .stn:hover  { background: url(../img/stn.png) no-repeat  200px 18px #486995; }

.news { padding-top:14px; display:inline-block; }
.news p { font-size:16px; }
.news img { margin-right:16px; margin-bottom:3px;  float:left; display:inline; margin-top:3px; border-radius: 3px; }
.news .newlink  {  float: right; margin-bottom: 10px; }

.newsb1, .newsb2, .newsb3 { width: 33.3%; float: left; font-size:14px; }
.newsb1 img, .newsb2 img, .newsb3 img { width:100%; }
.newsb1 div { display:inline-block; width:100%; padding-left: 0; padding-right:16px; margin-bottom:20px; }
.newsb2 div { display:inline-block; width:100%; padding-left:8px; padding-right:8px;  margin-bottom:20px;  }
.newsb3 div { display:inline-block; width:100%; padding-left: 16px; padding-right: 0; margin-bottom:20px; }


.newlink, .newlink:visited  {  font-size:14px; color: #139c00; }
.newlink:hover { color: #ff6600; text-decoration:underline; }

.part1, .part2, .part3 { width: 33.3%; float: left; font-size:14px; margin-top:40px; }
.part1 img, .part2 img, .part3 img { margin: 0 auto; align:center; width:80px; height:80px; float:left; margin-right:20px;}
.part1 div { display:inline-block; width:100%; padding-left: 0; padding-right:16px; }
.part2 div { display:inline-block; width:100%; padding-left:8px; padding-right:8px; }
.part3 div { display:inline-block; width:100%; padding-left: 16px; padding-right: 0; }
.part1 a:link, .part2 a:link, .part3 a:link, a:visited { text-decoration: none; }
.site2 .part1 h3, .site2 .part2 h3, .site2 .part3 h3{ margin-top:0; }

.button { text-align:center;  min-width:140px;  margin-bottom: 30px; }
.button a:link, .button a:visited {  font-size:14px; line-height:42px; text-align: center; color: #fff; text-decoration:none; padding: 0 22px 0 22px; display:inline-block; height:44px; background-color:#486995; box-shadow: 1px 1px 2px rgba(0,0,0,0.3); border-radius: 3px;}
.button a:hover {  background: #ffa82b; color: #2e2824; }
.button a:before { content: "\01F824"; margin-right: 5px; font-size: 20px; vertical-align: middle; }

.menu_p { display:table-cell; margin:10px; width:60%;  float: left; }
.menu_p ul { margin: 0; padding: 0;  }
.menu_p ul li { font-size: 15px; margin-top:2px;  margin-bottom:6px; list-style-type: square; color: #5aa3ff; float:left; margin-left: 24px;  width:130px;  }
.menu_p ul a:link, .menu_p ul  a:visited { color: #fff; text-decoration: none; font-size: 13px; }
.menu_p ul a:hover { color: #fff;}

.nns { margin-top: 20px; margin-bottom: 20px; }
.nns li { font-size: 20px; margin-bottom: 8px; list-style-type: square; color: #5aa3ff;  }
.nns li span { color: #616b75;  font-size: 14px; }


.hr { width:100%; height:1px; border-top:1px #d1d8dd solid; margin-top:20px; margin-bottom:20px; }

.clear { clear:both; }

.menu2 {  float:left; margin-bottom:30px; font-size:15px; font-family: GHEAGrpalatReg, arial, helvetica, sans-serif, tahoma, verdana; width:210px; }
.menu2 a:link, .menu2 a:visited { text-decoration:none; display: block; padding:12px; margin-top:-1px; color:#4c545a; text-decoration:none; background-color:#f9fafd; border:1px solid #ddd;  }
.menu2 a:hover { background: #ffa82b; color: #fff; border-color: #ddd;  }
.menu2 .menua2 a { color:#9c0928; font-weight:bold; text-decoration:none; background-color: #797979; }
.menu2 .active:link, .menu2 .active:visited { color: #fff; background-color: #486995; border-color: #486995; }

.menu3  { padding-left: 20px; background-color:#f9fafd; border-left:1px solid #ddd; border-right:1px solid #ddd; padding-bottom: 20px; font-size:13px; } 
.menu2 .menu3 a { border-right: none;  } 


.pre_slide {  color:#616b75; display: table-cell; padding-right: 20px; }

.slidnews {  display: flex; width: 100%;  }
.newshome {  font-size: 14px; width: 480px; display: table-cell; margin-top: 73px; }
.newshome img { display:inline-block; float: left; margin-right: 14px; border-radius: 4px 0 0 4px; }
.newshome div {  display: inline-block; border: 1px solid #ccc; border-radius: 5px; margin-bottom:12px; padding-right: 10px; background: #fafbfd; width: 100%;  }
.newlink:link, .newlink:visited  { text-decoration: none; color: #616b75; line-height: 21px;  }
.news .newlink:after { content: "\279C"; margin-left: 5px; font-size: 20px; vertical-align: middle;  padding-bottom:2px; }
.newlink:hover { color: #006ed5; text-decoration: underline; }
.data { color: #206ece; padding: 0; padding-top: 14px; margin-bottom:6px; font-size:14px; display: block;  }
.data span { font-size:115% }

.icon_events { font-size:26px; color:#3b5582;  font-weight: lighter; padding-left: 34px; background: url("../img/event.png") no-repeat 0 3px;  }
.icon_news { font-size:26px; color:#3b5582;  font-weight: lighter; padding-left: 40px; background: url("../img/news.png") no-repeat 0 3px;  }
.icon_service { color: #3b5582; height: 40px; margin-top: 20px; margin-bottom: 2px; font-weight: lighter; padding-left: 44px; background: url("../img/service.png") no-repeat 0 0px;  }
.icon_video { color: #3b5582; height: 40px; margin-top: 20px; margin-bottom: 2px; font-weight: lighter; padding-left: 44px; background: url("../img/video.png") no-repeat 0 2px;  }
.icon_partner { color: #3b5582; height: 40px; margin-top: 20px; margin-bottom: 2px; font-weight: lighter; padding-left: 60px; background: url("../img/partner.png") no-repeat 0 2px;  }
.icon_chat { color: #3b5582; height: 40px; margin-top: 20px; margin-bottom: 2px; font-weight: lighter; padding-left: 50px; background: url("../img/chat.png") no-repeat 0 2px;  }
.icon_rate { color: #3b5582; height: 40px; margin-top: 20px; margin-bottom: 2px; font-weight: lighter; padding-left: 50px; background: url("../img/rate.png") no-repeat 0 0px;  }

.video  { display: inline-block; width: 100%; margin-bottom: 30px; }
.video div { width: 50%; float: left;  }
.video iframe { border-radius: 5px; border: 0; width: 100%;}
.video div:first-child  { padding-right: 10px;  }
.video div:last-child  { padding-left: 10px; }

.video2 iframe { border-radius: 5px; border: 0; width: 32%; height: 200px; margin: 6px; }
.video2 iframe:first-child  { margin-left: 0; }
.video2 iframe:last-child  { margin-right: 0; }

.partner { width: 100%; overflow: hidden; height: 160px; position: relative; }

.chat  { display: inline-block; width: 100%; }
.chat .plus { float:left;   width: 33.3%;height: 100px; padding:10px;   text-align: center; margin-bottom: 20px;}
.chat .plus:first-child  { padding-left: 0;  }
.chat .plus:last-child  { padding-right: 0; }
.chat .plus a  {  font-size: 16px; color: #3b5582; text-align: left;  width: 100%;  height: 100%; display: block;  background: #f4f6fb; border:1px solid #d5d9e0;  border-radius: 5px; -webkit-transition: all 300ms linear;  -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear;  transition: all 300ms linear; }
.chat .plus a:hover { background: #486995; color:#fff;  transition: 0.5s ease; }

.chat .ca-content { position: absolute;  left: 80px; height: 60px;  top: 20px;   }
.chat .ico  { display:inline-block; overflow:hidden; height: 40px; width: 40px; margin-left:18px; margin-top:20px; -webkit-transform:scale(1.6); -moz-transform:scale(1.6); -ms-transform:scale(1.6); -o-transform:scale(1.6); transform:scale(1.6); -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }
.chat .plus a:hover  .ico  { -webkit-transform:scale(2.0); -moz-transform:scale(2.0);  -ms-transform:scale(2.0);  -o-transform:scale(2.0);  transform:scale(2.0); }
.chat .icoim1  { background:url(../img/chat1.png); background-size:100%; height: 60px; widht:60px; }
.chat .icoim2  { background:url(../img/chat2.png); background-size:100%; height: 60px; widht:60px; }
.chat .icoim3  { background:url(../img/chat3.png); background-size:100%; height: 60px; widht:60px; }

.hotline { display: inline-block; height: 30px; font-size: 18px; color: #fff; margin-top: 40px; padding-top: 5px; padding-left: 36px; background: url("../img/phone.png") no-repeat 0px 0px; }
.hotline span { color: #ffb510; margin-right: 5px; }

.rate  { display: inline-block; width: 100%; margin-bottom: 30px; }
.rate div { width: 49%; float: left;  border-radius: 5px; color: #fff; margin-top: 10px; padding: 20px; padding-top: 0; text-align: center; }
.rate div:first-child  { margin-right: 10px; background: #6badac; }
.rate div:last-child  { margin-left: 10px; background: #ac7592; }
.rate span { display: inline-block; height: 130px; margin-top: 40px; float: left; }
.rate .user1 { background: url("../img/user1.png") no-repeat 50% 0px; }
.rate .user2 { background: url("../img/user2.png") no-repeat 50% 0px; }
.rate span img { margin-top: 100px; }
.rate h4 { display: block; text-align: center; font-size: 20px; font-weight: normal; margin-right: 60px; }
.rate  ol { font-size: 12px; overflow: hidden;  padding-left: 30px; text-align: left;  }
.rate li { margin-bottom: 10px;  padding-left: 5px; }
.rate a { display: inline-block; background: #ffc169; padding: 10px 20px 10px 20px; border-radius: 4px; text-decoration: none; color: #000; font-size: 14px; }
.rate a:hover { background: #2a64b3; color: #fff; }

.lang   {  margin-left: -100px; margin-top: 22px; text-align:center; display: inline-block;  visibility: hidden; }
.lang a, .lang a:visited {  font-size:14px; color: #fff;  text-decoration: none; margin-left:10px; text-decoration: none; }
.lang a:hover { color: #906ece; }
.lang a.active {  font-weight: bold;  color: #fff; }

.content { margin-left:240px; color:#616b75; }
.content h1 { text-align: center; font-size: 30px; color: #486995; margin-top:50px; margin-bottom: 40px;  font-weight: lighter; }
.content h4 { text-align: center; font-size: 18px; color: #616b75; font-weight: normal;  }
.content p {  font-size:14px; text-align:justify; color:#616b75;  }

.content ol { font-size: 14px; line-height: 24px; }
.content ol li { margin-bottom:20px; }
.content .print  { float:right;  font-size:13px; }
.content .print img { margin-left:6px; margin-right:0; margin-top:0; margin-bottom:0;  float:none; display:inline;  border-radius: 0; vertical-align:middle;  }


.colon3 div { width: 33.3%; float: left; text-align: center;  }
.colon2 div { width: 50%; float: left; text-align: center;  }



.nom { display:inline-block; padding-left:0; margin-top:0; margin-bottom:0; border-radius:4px; font-size:14px;}
.nom li { display:inline; }
.nom li a { position:relative; float:left; padding:7px 15px; margin-left:-1px; color:#65473c; text-decoration:none; background-color: #f9fafd; border:1px solid #aeb7c4 }
.nom li a:focus, .nom li a:hover { background: #ffa82b; color: #fff; }
.nom .active a, .nom .active a:focus, .nom .active a:hover { z-index:3; color: #fff; cursor:default; background-color: #486995; border-color: #486995; }

.tablica { display: table; width:100%; border-left:1px solid  #d7d9df;  border-top:1px solid  #d7d9df; font-size:90%; }
.tab { display: table-row; }
.tabc { background-color: #f9fafc; }
.tab2 { display: table-row; background-color: #f9fafc; }
.tcel {  display: table-cell;  padding: 14px;  margin:14px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:2%;   }
.tcel2 {  display: table-cell;  padding: 14px;  margin:14px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:81%;   }
.tcel3 {  display: table-cell;  padding: 14px;  margin:14px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:14%;   }
.tcel4 {  display: table-cell;  padding: 16px;  margin:10px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:36.4%;  }

.tablica3 { display: table; width:100%; border-left:1px solid  #d7d9df;  border-top:1px solid  #d7d9df; font-size:90%; }
.tablica3 .tab { display: table-row; }
.tablica3 .tab2 { display: table-row; background-color: #f9fafc; }
.tablica3 .tcel {  display: table-cell;  padding: 14px;  margin:14px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:2%;  }
.tablica3 .tcel2 {  display: table-cell;  padding: 14px;  margin:14px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:64%;   }
.tablica3 .tcel3 {  display: table-cell;  padding: 14px;  margin:14px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:10%;   }
.tablica3 .tcel4 {  display: table-cell;  padding: 16px;  margin:10px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:24%;  }

.tablica5 { display: table; width:100%; border-left:1px solid  #d7d9df;  border-top:1px solid  #d7d9df; font-size:90%; }
.tablica5 .tab { display: table-row; }
.tablica5 .tab2 { display: table-row; background-color: #f9fafc; }
.tablica5 .tcel {  display: table-cell;  padding: 14px;  margin:14px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:5%;  }
.tablica5 .tcel2 {  display: table-cell;  padding: 14px;  margin:14px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:45%;   }
.tablica5 .tcel3 {  display: table-cell;  padding: 14px;  margin:14px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:20%;   }
.tablica5 .tcel4 {  display: table-cell;  padding: 14px;  margin:14px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df; width:15%;   }


.tablica2 { display: table;  border-left:1px solid  #d7d9df;  border-top:1px solid  #d7d9df; font-size:90%;  }
.tcel5 {  display: table-cell;  padding: 16px;   padding-top: 10px; padding-bottom: 10px; border-right:1px solid  #d7d9df;  border-bottom:1px solid  #d7d9df;  }

.cont { margin-top:40px; margin-bottom:20px;  }
.cont p { display:block; width:100%; float:left; margin-top: 0;  margin-bottom: 16px;   }
.cont span { overflow: hidden;  }
.field label { float:left; font-size: 14px; }
.field { clear:both; text-align:right; line-height:40px; }
.main { max-width: 400px; }


.per { width: 33.3%; float: left; font-size:14px; text-align:center; }
.per img { margin:0; }
.per div { display:inline-block; width:100%; padding-left: 16px; padding-right: 16px; margin-bottom:20px;  text-align:center; }
.per p {  text-align:center; }
.content  .personal { border-radius:180px; box-shadow: 0 0 0 1px #a8abb9, 0 0 13px #6b7082; width:180px;  float:none; }

.wrapper { transition: all 0.3s ease-out;  }

@media  (max-width: 1400px) {.site2 {  max-width: 1200px; } .cell2 h4 { font-size:18px;}}
@media  (max-width: 1280px) { .menu li a { padding:10px 8px 11px 8px; } }
@media  (max-width: 1260px) { .menu li a { padding:10px 10px 11px 10px; } .site1, .site1b  {padding-left:0; padding-right:0;} .cell1 img { margin-left: 10px; }}
@media  (max-width: 1100px) { .menu li a {  font-size:15px; padding-top:12px;}}
@media  (max-width: 1080px) { .menu li a { font-size:14px; } .cell1 img { margin-left: 0; } .search3 {width: 160px;}}
@media  (max-width: 990px) {  .cell1 img {  margin-left:-2px; } .menu li { border: none;} .search3 {width: 120px;} .title { font-size:14px; }  .logo {  margin-left:20px; } .linin { padding-left:20px; padding-right:20px; } .line2 h2 { font-size:24px;} .line2 p { font-size:14px;  } .content { font-size:14px; }  .site2 h3 { font-size: 16px; font-weight: bold;} }
@media (max-width: 870px)  {  .cell2 { width: 80%;  } .cell2 h4 { font-size:14px;  } .cell3 { display: block;  text-align:center;} .lang span {  margin-top:7px;}  .back { background: none; background-color: #414250; } .line1 .linin { padding:0; } #video-bg { height: 500px;} .menu2 { float: none; width:100%; margin-top: 30px; } .content { float: none; width:100%;} .content_m { width:100%; float:none;} .content2 {padding-left:0;} .filter3 div { width:100%;}  .content { margin-left: 0; } }
@media (max-width: 950px) { .adres, .social  { width:100%; float:left; text-align: center;  } .menu { display:none; text-align:left; text-shadow: none; padding:0;  } .mobile-menu { display:block;  } .search3 { margin-top: -44px; width: 180px; } nav { margin:0; background:none; margin-top:3px; }.menu ul li { border:none; } .menu li { display:block; margin:0;  float:none; border:1px solid #ccc; border-top:none; border-bottom:none; background:#f7f5f3; } .menu ul li:last-child { border-bottom: none;} .menu li:last-child { border-bottom:1px solid #ccc; } .menu li .active:link, ul.menu  li .active:visited { border-top: none;} .menu li a { font-size:16px; color:#64514a; border-top:1px solid #e0e0e0; } .menu ul li  a { padding-left:24px; }  .menu ul { display:block; position:relative; top:0; left:0; width:100%; } .menu ul ul { left:0; } }
@media (max-width: 950px) {.menu_p { width:100%;  } .social {margin-top:20px; margin-bottom:10px;} .adres span { float: none;} }
@media (max-width: 700px) { .cell2 h4 { font-size:14px;  }.newsb1, .newsb2, .newsb3 { width: 100%; } .newsb1 div, .newsb2 div, .newsb3 div { padding: 0;}}
@media (max-width: 673px) {  .cell3 { display: block; width:100%;  }  .table { display:block;  } .cell1, .cell3 { text-align:center; float: left; } .news p {font-size:14px; } .cell3 p {  text-align: center; margin-top: 5px; padding-bottom: 10px;}}
@media (max-width: 560px)  { .site2b, .site2, .site1, .table  { padding-left: 18px; padding-right: 18px;} .title { margin-top: 0; font-size:13px; } .logo { margin-left:0; margin-right:0; } .adres div { display:block;} .tablica, .tablica2, .tablica3 { display: block; width: 100%; overflow-x: auto;}   }
@media (max-width: 480px) { .cell2 h4 { margin-bottom:10px; } .line2 div { display: inline-block; width:100%;  }.field input { width: 100%; padding-left:0; padding-right: 0; } .field { line-height:30px; } .vid2 {  display: flex; flex-direction:column-reverse;} .news h3 { font-size: 18px; } .adres { font-size: 12px;}  } 
@media (max-width: 426px) { .cell2 h4 { margin-top: 10px;  }  .glav h2 { margin-top:14px; } .glav img { float:none; } .search3   { width: 140px; }.cell1 { width:100%;  } .cell1 img { margin-top:14px; margin-bottom:0; width:80px; } .cell2 .logotop {margin-left: 0;}}

.overlay {  z-index:100; position: fixed;  top: 0;  bottom: 0;  left: 0;  right: 0; background: rgba(14, 30, 56, .6);  transition: opacity 500ms; visibility: hidden;  opacity: 0;}
.overlay:target { visibility: visible;  opacity: 1;}
.popup { margin: 70px auto;  padding: 20px; border-radius: 5px; min-width: 200px; max-width: 390px; position: relative; box-shadow: 0 0 10px 0 #666;  background: #139c00; }
.popup h4 { color: #fff; margin-top:0; margin-bottom: 20px; font-size: 16px; text-align:left; }
.popup .close { position: absolute;  top: 0px; right: 12px; transition: all 200ms; font-size: 40px; text-decoration: none; color: #fff;}
.popup .close:hover {  color: red;}
.popup .lable {  text-align: right; clear:left; display:block; padding-right:4px;  font-size: 14px; height: 34px; padding-top:5px; }
.popup .input { text-align: left; background-color:#fff; border: 0px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;color: #1C5455; border-radius: 2px; width:100%; padding-left:4px; }
.popup input.submit { font-size:14px;  text-align: center; color: #fff; text-decoration:none; padding: 0 22px 0 22px; display:inline-block; height:40px; background-color:#5d636f; box-shadow: 1px 1px 2px rgba(0,0,0,0.3); width:130px; border:none;  border-radius: 2px; }
.popup input.submit:hover { cursor: pointer; background: #ffa82b; color: #000;  box-shadow: none; box-shadow: 1px 1px 2px rgba(0,0,0,0.3); transition: all 500ms; }

.accordion { background-color: #f9fafd; color: #3b5582; cursor: pointer; padding: 18px 20px; width: 100%; outline: none; font-size: 16px; transition: 0.4s; border: 1px solid #d9dae0; margin-bottom:-1px; border-radius: 4px; }
.activef, .accordion:hover { background-color: #486995; color: #fff; }
.accordion:after { font-size: 26px; content: '\002B'; color: #777; float: right; margin-left: 5px; line-height: 18px; }
.accordion:hover:after { color: #fff; }
.activef:after { content: "\2212";color: #fff;  }
.panel { border: 1px solid #d9dae0; border-top: none; margin-bottom:-1px; padding: 0 18px; width: 100%; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; }

.accordion2 {  color: #444; cursor: pointer; padding: 20px 20px; width: 100%; outline: none; font-size: 16px; transition: 0.4s; border-radius: 4px;  }
.activef2, .accordion2:hover { background-color: #486995; color: #fff; }
.accordion2:before { font-size: 16px; content: '\25BA'; color: #486995; margin-right: 8px; line-height: 18px; }
.accordion2:hover:before { color: #fff; }
.activef2:before { content: "\25BC"; color: #fff; font-size: 16px;  }
.panel2 { border: 1px solid #d9dae0; border-top: none; padding: 0 16px 0 34px; width: 100%; max-height: 0; overflow: hidden; transition: max-height 0.3s ease-out; }
.panel2 p { text-align: left; }
.panel2 h4 {font-size: 17px; }

.links { display: inline-block; font-size: 14px; margin-bottom: 14px; }

.structure img { margin-right: 6px; vertical-align: middle; }

.tablica4 { border-collapse: collapse; border-spacing: 0px;  background-color: #fff; width: 100%; }
.tablica4 td {  border-collapse: collapse;  border: 1px solid #d7d9df; padding: 2px 14px; font-size: 14px; }
.tablica4 p {  text-align: left; }

.tablica5 { border-collapse: collapse; border-spacing: 0px;  background-color: #fff; width: 100%; }
.tablica5 td {  border-collapse: collapse;  border: 1px solid #aaa; padding: 2px 14px; font-size: 14px; }


.tablica7 { border-collapse: collapse; border-spacing: 0px;  background-color: #fff; width: 100%; }
.tablica7 td {  border-collapse: collapse;  border: 1px solid #d7d9df; padding: 12px 10px; font-size: 14px; }

.content .ns { font-size: 14px;  line-height: 120%;   padding: 14px; padding-left: 20px;}
.content .ns li { margin-bottom:10px; background: url(../img/t.png) no-repeat 0 5px; list-style: none; padding-left: 14px; }
.content .ns ul { padding-left: 14px; }
.content .ns ul li { margin-top:10px;  }
.content .ns a:visited { color: #616b75; }



body { top: 0px !important; } 
.skiptranslate { display: none !important; } 
.goog-tooltip { display: none !important; }
.goog-tooltip:hover { display: none !important; }
.goog-text-highlight { background-color: transparent !important; border: none !important;  box-shadow: none !important; }

#carousel { float:left; }
#prev, #next { height: 160px; position: relative;  }
#carousel div { margin: 14px 14px; padding:16px; display: block; float: left;}
#prev { display: block; float:left; width: 40px;}
#next { display:block; float: right; width: 40px;}
#prev:hover, #next:hover {}
#prev {background: url(../img/gui-prev.png) no-repeat 0px 50px; height: 160px; }
#next {background: url(../img/gui-next.png) no-repeat 26px 50px; height: 160px;}








